<h2>Cadastre seu lembrete</h2>

<mat-card>
  <form (submit)="onSalvarLembrete(lembreteForm)" #lembreteForm="ngForm">
    <mat-form-field>
      <input type="text" matInput
        placeholder="Data de Cadastro do lembrete"
         name= "cadastro" ngModel
         required
         #cadastro="ngModel"
         [ngModel]="lembrete?.cadastro"
         />
         <mat-error *ngIf="cadastro.invalid">Digite uma data valida</mat-error>
    </mat-form-field>

    <mat-form-field>
      <input type="text" matInput
        placeholder="Data de realização"
        name= "realizacao"ngModel
        required
        #realizacao="ngModel"
        [ngModel]="lembrete?.realizacao"
        />
        <mat-error *ngIf="cadastro.invalid">Digite uma data valida</mat-error>
    </mat-form-field>

    <mat-form-field>
      <input type="text" matInput
        placeholder="Descrição"
        name="descricao" ngModel
        required
        #descricao="ngModel"
        [ngModel]="lembrete?.descricao"
        />
        <mat-error *ngIf="cadastro.invalid">Digite uma descrição valida</mat-error>
    </mat-form-field>

    <button mat-raised-button color="warn">
      Criar Lembrete
    </button>
  </form>


</mat-card>

