<h2>Cadastre seu lembrete</h2>

<mat-card>

  <mat-form-field>
    <input type="text" matInput
      placeholder="Data de Cadastro do lembrete"
      [(ngModel)]="cadastro" />
  </mat-form-field>

  <mat-form-field>
    <input type="text" matInput
      placeholder="Data de realização"
      [(ngModel)]="realizacao" />
  </mat-form-field>

  <mat-form-field>
    <input type="text" matInput
      placeholder="Descrição"
      [(ngModel)]="descricao" />
  </mat-form-field>

  <button mat-raised-button color="warn"
    (click)="onAdicionarLembrete()"
    >Cadastrar Lembrete
  </button>

</mat-card>
