<h2>Lembretes Cadastrados</h2>

<mat-accordion>

  <mat-expansion-panel *ngFor="let lembrete of lembretes">

    <mat-expansion-panel-header>
      Descrição do Lembrete: {{lembrete.descricao}}
    </mat-expansion-panel-header>

    <p>Data do Cadastro:   {{lembrete.cadastro}}    </p>
    <p>Data da Realização: {{lembrete.realizacao}} </p>

    <mat-action-row>
      <a mat-button color="primary" [routerLink]="['/editar', lembrete.id]" >Editar</a>
      <button mat-button color="warn" (click)="onDelete(lembrete.id)">Remover</button>
    </mat-action-row>

  </mat-expansion-panel>

</mat-accordion>

<p *ngIf="lembretes.length <= 0" style="text-align: center;">
  Nenhum lembrete cadastrado!
</p>

<mat-card>
  <button mat-raised-button color=primary routerLink="/menu">
    Voltar ao menu
  </button>
</mat-card>
