<h2>Lembretes Cadastrados</h2>

<mat-accordion>

  <mat-expansion-panel *ngFor="let lembrete of lembretes">

    <mat-expansion-panel-header>
      Descrição do Lembrete: {{lembrete.descricao}}
    </mat-expansion-panel-header>

    <p>Data do Cadastro:   {{lembrete.cadastro}}    </p>
    <p>Data da Realização: {{lembrete.realizacao}} </p>

    <mat-action-row>
      <button mat-button color="primary">Editar</button>
      <button mat-button color="warm">Remover</button>
    </mat-action-row>

  </mat-expansion-panel>

</mat-accordion>

<p *ngIf="lembretes.length <= 0" style="text-align: center;">
  Nenhum lembrete cadastrado!
</p>
